################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShinsakaiWindowsApp/v15/Server/sqlite3
/.vs/ShinsakaiWindowsApp/v15/.suo
/ShinsakaiWindowsApp/bin
/ShinsakaiWindowsApp/obj/Debug
/ShinsakaiWindowsApp/obj/Release
